@use 'tokens/tokens' as *;

.price {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;

  &__currency {
    object-fit: contain;
    flex-shrink: 0;
  }

  &--strike {
    color: $ds-text-subtle;
    text-decoration: line-through;
  }
}
